.color-text,
a {
   color: #0060B6;
   text-decoration: none;
}

a:hover {
   color:#00A0C6; 
   text-decoration:none; 
   cursor:pointer;  
} 

.thumbnail {
   width: 850px;
   height: 350px;
}
.row,
ul {
   list-style: none;
}



@media (max-width: 639px) {
   .thumbnail {
      height: 180px;
   }
   
}